* {
  font-family: sans-serif;
  text-align: center;
}

div {
  width: 60vw;
  height: 120px;
  background-color: rgba(40, 40, 40, 0.5);
  position: absolute;
  bottom: -120px;
  left: 20vw;
  transition: 1s;
}

button {
  border-radius: 0;
  margin: 0.5em;
}

.accept1 {
  background-color: green;
}

.accept2 {
  background-color: red;
}

.pop_up {
  bottom: 0;
}
